# .github/workflows/main.yml
name: React App CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read # Required to checkout code

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18' # Or your desired Node.js version

      - name: Remove node_modules and package-lock.json
        run: |
          rm -rf node_modules
          rm package-lock.json
          
      - name: Install dependencies
        run: npm install

      - name: Build React app
        run: npm run build

  docker-build:
    runs-on: ubuntu-latest
    needs: build # ensure the react build job completed successfully.
    if: github.ref == 'refs/heads/main' # Only runs on push to main
    permissions:
      contents: read # Required to checkout code
      packages: write # Required to push Docker images to GHCR

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository }}:latest
          build-args: |
            NODE_ENV=production